{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section "card card-body">
    <div class="container">
      <h1 class="display-1 text-center">Django App</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta quis necessitatibus dolor recusandae perspiciatis quasi dolores repudiandae quo, error, ipsum, odit iure. Facere eaque corrupti quisquam quidem nisi, nostrum maiores dolorem sed nobis recusandae sit accusamus saepe repellendus aperiam necessitatibus quo numquam expedita et natus distinctio deserunt. Explicabo aliquid est similique magnam nostrum ducimus sit quod incidunt earum ipsum odio autem praesentium quis atque nam, tempore labore perspiciatis totam, temporibus reiciendis excepturi possimus! Nisi recusandae in tempore. Natus nobis ratione eos, veritatis iure expedita iusto ipsum aliquid ducimus fugit modi quam facilis quaerat laboriosam. Architecto quo ex incidunt rem alias!</p>
      <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
          Signin
        </a>
      
        <a class="btn btn-dark" href="/signup/">
          Signup
        </a>
      </div>
  </section>
</main>

{% endblock %}
