{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-6 offset-md-4">
      <h1 class="text-center display-3 py-5">Tasks Pending</h1>
      <ul class="list-group">
        {% for task in tasks %}
        <a class="list-group-item" href="{% url 'task_detail' task.id %}">
          <header class="d-flex justify-content-between">
            {% if task.important %}
            <h2 class="fw-bold">{{task.title}}</h2>

            {% else %} {{task.id}} {{task.title}} {% endif %}
            <p>{{task.user.username}}</p>
            <p>{{task.description}}</p>
          </header>

          {{task.datecompleted|date:'M j Y:i'}}
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>

{% endblock %}
